/**
 * Sustainable Development Goal (SDG) Background Colors
 *
 * These background color classes match the colors of the SDG icons provided by the United Nations (UN):
 * https://www.un.org/sustainabledevelopment/news/communications-material/
 */

 .background-color-sdg01 { background-color: $color-sdg01; }
 .background-color-sdg02 { background-color: $color-sdg02; }
 .background-color-sdg03 { background-color: $color-sdg03; }
 .background-color-sdg04 { background-color: $color-sdg04; }
 .background-color-sdg05 { background-color: $color-sdg05; }
 .background-color-sdg06 { background-color: $color-sdg06; }
 .background-color-sdg07 { background-color: $color-sdg07; }
 .background-color-sdg08 { background-color: $color-sdg08; }
 .background-color-sdg09 { background-color: $color-sdg09; }
 .background-color-sdg10 { background-color: $color-sdg10; }
 .background-color-sdg11 { background-color: $color-sdg11; }
 .background-color-sdg12 { background-color: $color-sdg12; }
 .background-color-sdg13 { background-color: $color-sdg13; }
 .background-color-sdg14 { background-color: $color-sdg14; }
 .background-color-sdg15 { background-color: $color-sdg15; }
 .background-color-sdg16 { background-color: $color-sdg16; }
 .background-color-sdg17 { background-color: $color-sdg17; }